<!--
This is the view that gets rendered when '/' gets requested
It gets grabbed from the 'home' action of the pages_controller
This is the homepage
-->
<h1>Hello world!</h1>

<h2>This is a test</h2>
